<div class="col-sm-3 col-lg-3 col-md-3 eachMovie">
  <button
    type="button"
    class="btnModal"
    data-toggle="modal"
    data-target="#exampleModal{{index}}"
    data-whatever="@{{index}}"
  >
    <img src="{{poster_url}}" />
  </button>
  <div
    class="modal fade"
    id="exampleModal{{index}}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    style="display: none"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content col-sm-12">
        <div class="col-sm-6 moviePosterInModal">
          <a href="{{trailer_url}}"><img src="{{poster_url}}" /></a>
        </div>
        <br />
        <div class="col-sm-6 movieDetails">
          <div class="movieName">{{title}}</div>
          <br />
          <div class="linkToTrailer">
            <a href="{{trailer_url}}"><button
                type="button"
                class="btn btn-red btn-lg"
              >Watch Trailer</button></a>
          </div>
          {{! <br />
          <div class="release">Release Date: 2021-12-17</div>
          <br /> }}
          <div class="overview">
            {{description}}
          </div>
          {{! <br />
          <div class="rating">Rating: 7.5/10</div>
          <br /> }}
          <div
            id="remove"
            class="col-sm-5 btn btn-primary remove-favorite"
            data-title="{{title}}"
          >
            Remove
          </div>
          <br />

          <br />
          <section class="rating-widget">

            <div id="review">Add Review</div>

            <div class="rating-stars text-center">
              <ul id="stars">
                <li class="star" title="Poor" data-value="1">
                  <i class="fa fa-star fa-fw"></i>
                </li>
                <li class="star" title="Fair" data-value="2">
                  <i class="fa fa-star fa-fw"></i>
                </li>
                <li class="star" title="Good" data-value="3">
                  <i class="fa fa-star fa-fw"></i>
                </li>
                <li class="star" title="Excellent" data-value="4">
                  <i class="fa fa-star fa-fw"></i>
                </li>
                <li class="star" title="WOW!!!" data-value="5">
                  <i class="fa fa-star fa-fw"></i>
                </li>
              </ul>
            </div>

            <div class="success-box">
              <div class="clearfix"></div>
              <div class="text-message"></div>
              <div class="clearfix"></div>
            </div>

          </section>

        </div>
      </div>
    </div>
  </div>
</div>